<div id="<%= dom_id order %>">
  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= order.delivery_date %>
  </p>

</div>
